.textInput {
  margin-top: 16px;
  margin-bottom: 16px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  color: red;
}
